body{
    background-color: plum;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;    
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    text-align: center;
    flex-direction: column;
}


button, a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: hotpink;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    align-items: center;
    text-align: center;
}